/* src/App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}
  
.App {
  flex-direction: column;
  min-height: 100vh;
  display: flex;
}
  
header {
  color: #000000;
  padding: 1rem;
  background-color: #686666;
}
  
nav ul {
  /* position: absolute; */
  padding: 2px;
  margin: 0px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 0 25px 0 black;
  /* max-width: 100%; */
  list-style-type: none;
}

nav ul li {
  margin: 10px;
  display: inline;
}

nav ul li a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

nav ul li a:hover{
  color: #ffc107;
}
  
main {
  padding: 1rem;
  flex: 1;
}
  
.upload .app{
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #d4dddb;
}
  
.upload .select {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
  
.upload .button {
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  background-color: #cad3dc;
}
  
.upload .button:hover {
  background-color: #0056b3;
}
#images {
  justify-content: space-between;
  margin-top: 2rem;
  background-color: rgb(216, 238, 233);
  display: flex;
}
  